<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>数字货币行情监控</title>
    <link rel="shortcut icon" href="/img/icon.png">

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../../dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.bootcss.com/angular.js/1.6.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">数字货币行情监控</a>
            </div>
            <!-- <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li>
                                <a href="#">Another action</a>
                            </li>
                            <li>
                                <a href="#">Something else here</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                            <li>
                                <a href="#">One more separated link</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div> -->
            <!--/.nav-collapse -->
        </div>
    </nav>
    <br/>
    <br/>
    <br/>

    <div class="container theme-showcase" role="main">
        <div class="jumbotron">
            <h1>数字货币行情监控</h1>
            <p>获取交易所数据，对比差价，指导板砖。</p>
            <p>所有报价以 BitCNY 计价。</p>
        </div>
        <div ng-app="myApp">
            <div class="row" ng-controller="BitCNY-QC">
                <div class="col-md-3">
                    <h1>QC/BitCNY</h1>
                </div>
                <div class="col-md-3">
                    <h2>买：[{{ pairs[0].buyPrice.toFixed(5) }}]</h2>
                </div>
                <div class="col-md-3">
                    <h2>卖：[{{ pairs[0].sellPrice.toFixed(5) }}]</h2>
                </div>
                <div class="col-md-3">
                    <h2>时间：{{ makeTime(pair.timestamp) }}</h2>
                </div>
            </div>

            <div class="page-header">
                <h1>BTS</h1>
            </div>
            <div class="row" ng-controller="bts">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>市场</th>
                                <th>买价</th>
                                <th>卖价</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in pairs">
                                <td>{{ pair.market }}</td>
                                <td>{{ pair.buyPrice.toFixed(2) }}</td>
                                <td>{{ pair.sellPrice.toFixed(2) }}</td>
                                <td>{{ makeTime(pair.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>原市场</th>
                                <th>目标市场</th>
                                <th>利差</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="margin in margins" ng-hide="(margin.margin<0)">
                                <td>{{ margin.srcMarket }}</td>
                                <td>{{ margin.desMarket }}</td>
                                <td>{{ (100*margin.margin).toFixed(2) }}%</td>
                                <td>{{ makeTime(margin.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <h1>EOS</h1>
            </div>
            <div class="row" ng-controller="eos">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>市场</th>
                                <th>买价</th>
                                <th>卖价</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in pairs">
                                <td>{{ pair.market }}</td>
                                <td>{{ pair.buyPrice.toFixed(2) }}</td>
                                <td>{{ pair.sellPrice.toFixed(2) }}</td>
                                <td>{{ makeTime(pair.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>原市场</th>
                                <th>目标市场</th>
                                <th>利差</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="margin in margins" ng-hide="(margin.margin<0)">
                                <td>{{ margin.srcMarket }}</td>
                                <td>{{ margin.desMarket }}</td>
                                <td>{{ (100*margin.margin).toFixed(2) }}%</td>
                                <td>{{ makeTime(margin.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <h1>ETH</h1>
            </div>
            <div class="row" ng-controller="eth">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>市场</th>
                                <th>买价</th>
                                <th>卖价</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in pairs">
                                <td>{{ pair.market }}</td>
                                <td>{{ pair.buyPrice.toFixed(2) }}</td>
                                <td>{{ pair.sellPrice.toFixed(2) }}</td>
                                <td>{{ makeTime(pair.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>原市场</th>
                                <th>目标市场</th>
                                <th>利差</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="margin in margins" ng-hide="(margin.margin<0)">
                                <td>{{ margin.srcMarket }}</td>
                                <td>{{ margin.desMarket }}</td>
                                <td>{{ (100*margin.margin).toFixed(2) }}%</td>
                                <td>{{ makeTime(margin.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <h1>LTC</h1>
            </div>
            <div class="row" ng-controller="LTC">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>市场</th>
                                <th>买价</th>
                                <th>卖价</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pair in pairs">
                                <td>{{ pair.market }}</td>
                                <td>{{ pair.buyPrice.toFixed(2) }}</td>
                                <td>{{ pair.sellPrice.toFixed(2) }}</td>
                                <td>{{ makeTime(pair.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>原市场</th>
                                <th>目标市场</th>
                                <th>利差</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="margin in margins" ng-hide="(margin.margin<0)">
                                <td>{{ margin.srcMarket }}</td>
                                <td>{{ margin.desMarket }}</td>
                                <td>{{ (100*margin.margin).toFixed(2) }}%</td>
                                <td>{{ makeTime(margin.timestamp) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script>
        var app = angular.module('myApp', []);

        app.controller('BitCNY-QC', function ($scope, $http) {
            $scope.pairs = [];
            $scope.margins = [];
            $scope.makeTime = function (timestamp) {
                return moment(timestamp).format("HH:mm:ss");
            }
            setInterval(() => {

                $scope.time = moment().format("HH:mm:ss");
                //拿价格
                $http({
                    method: 'GET',
                    url: '/watch/QC'
                }).then(function successCallback(response) {
                    $scope.pairs = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

            }, 1000);
        });

        app.controller('bts', function ($scope, $http) {
            $scope.pairs = [];
            $scope.margins = [];
            $scope.makeTime = function (timestamp) {
                return moment(timestamp).format("HH:mm:ss");
            }
            setInterval(() => {

                $scope.time = moment().format("HH:mm:ss");
                //拿价格
                $http({
                    method: 'GET',
                    url: '/watch/BTS'
                }).then(function successCallback(response) {
                    $scope.pairs = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

                //拿差价
                $http({
                    method: 'GET',
                    url: '/margin/BTS'
                }).then(function successCallback(response) {
                    $scope.margins = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

            }, 1000);
        });

        app.controller('eos', function ($scope, $http) {
            $scope.pairs = [];
            $scope.margins = [];
            $scope.makeTime = function (timestamp) {
                return moment(timestamp).format("HH:mm:ss");
            }
            setInterval(() => {

                $scope.time = moment().format("HH:mm:ss");
                //拿价格
                $http({
                    method: 'GET',
                    url: '/watch/EOS'
                }).then(function successCallback(response) {
                    $scope.pairs = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

                //拿差价
                $http({
                    method: 'GET',
                    url: '/margin/EOS'
                }).then(function successCallback(response) {
                    $scope.margins = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

            }, 1000);
        });

        app.controller('eth', function ($scope, $http) {
            $scope.pairs = [];
            $scope.margins = [];
            $scope.makeTime = function (timestamp) {
                return moment(timestamp).format("HH:mm:ss");
            }
            setInterval(() => {

                $scope.time = moment().format("HH:mm:ss");
                //拿价格
                $http({
                    method: 'GET',
                    url: '/watch/ETH'
                }).then(function successCallback(response) {
                    $scope.pairs = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

                //拿差价
                $http({
                    method: 'GET',
                    url: '/margin/ETH'
                }).then(function successCallback(response) {
                    $scope.margins = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

            }, 1000);
        });

        app.controller("LTC", function ($scope, $http) {
            $scope.pairs = [];
            $scope.margins = [];
            $scope.makeTime = function (timestamp) {
                return moment(timestamp).format("HH:mm:ss");
            }
            setInterval(() => {

                $scope.time = moment().format("HH:mm:ss");
                //拿价格
                $http({
                    method: 'GET',
                    url: '/watch/LTC'
                }).then(function successCallback(response) {
                    $scope.pairs = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

                //拿差价
                $http({
                    method: 'GET',
                    url: '/margin/LTC'
                }).then(function successCallback(response) {
                    $scope.margins = response.data;
                    //$scope.pair = response.data;
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });

            }, 1000);
        });

    </script>
</body>

</html>