extends layout

block scripts
  script(src='/javascripts/watch.js')
block content
  div
    nav(class="navbar navbar-inverse navbar-fixed-top")
        .container
          .navbar-header
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar") BitCNY
              span(class="icon-bar") USDT
            a(class="navbar-brand" href="#") 数字货币行情监控
    br
    br
    br
    br
    div(class="container theme-showcase" role="main")
      div(class="jumbotron")
        h1 数字货币行情监控
        p 获取交易所数据，对比差价，指导板砖。
        p 所有报价以 BitCNY 计价。
      div(ng-app="myApp")
        div(class='row' ng-controller="BitCNY-QC")
          .col-md-3
            h1 QC/BitCNY
          .col-md-3
            h2 买：[{{ pairs[0].buyPrice.toFixed(5) }}]
          .col-md-3
            h2 卖：[{{ pairs[0].sellPrice.toFixed(5) }}]
          .col-md-3
            h2 时间：{{makeTime(pair.timestamp)}}
        - var tokens = ["BTS", "ETH", "EOS", "NEO", "GXS", "YOYO"]
        each token in tokens
          .row(ng-controller="#{token}")
            //li #{token}: #{i}
            .page-header
              h1 #{token}
              .row
                .col-md-6
                  table.table
                    thead
                      tr
                        th 市场
                        th 买价(CNY|BTS)
                        th 卖价(CNY|BTS)
                        th 时间
                    tbody
                      tr(ng-repeat="pair in pairs")
                        td {{ pair.market }}
                        td {{ pair.buyPrice.toFixed(2) }} | {{ pair.buyPriceByBTS.toFixed(2) }}
                        td {{ pair.sellPrice.toFixed(2) }} | {{ pair.sellPriceByBTS.toFixed(2) }}
                        td {{ makeTime(pair.timestamp) }}
                .col-md-6
                  table.table
                    thead
                      tr
                        th 原市场
                        th 目标市场
                        th 利差
                        th 时间
                    tbody
                      tr(ng-repeat="margin in margins track by $index" ng-hide="(margin.margin<0)")
                        td {{ margin.srcMarket }}
                        td {{ margin.desMarket }}
                        td {{ (100*margin.margin).toFixed(2) }}%
                        td {{ makeTime(margin.timestamp) }}

